:root {
    --black: black;
    --gold: #ffe629;
    --sel: #ffe6299c;
    --white: white;
    --space: #53565f;
    --ash: #94989c;
}

.pic-grid {
    position: relative;
    margin-left: -5px;
    margin-bottom: -25px;
    width: 100%;
    animation: 1s fadeIn linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pic-grid.flexmasonry-cols-2{
    position: relative;
    width: calc(100% - 10px);
    margin-left: -5px;
}


.pic-parent {
    position: relative;
    padding: 5px;
    overflow: hidden;
}

.pic-parent img {
    padding: 0;
    margin-bottom: -5px;
    width: 100%;
    cursor: pointer;
    transition: clip-path 0.3s ease;
    clip-path: polygon( 0 7px, 7px 0, 100% 0, 100% calc(100% - 7px), calc(100% - 7px) 100%, 0% 100%);
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.pic-parent:hover img {
    clip-path: polygon( 0 15px, 15px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0% 100%);
}

.bottom-triangle {
    width: 0px;
    height: 0px;
    background: var(--gold);
    position: absolute;
    bottom: 5px;
    right: 5px;
    transition: width 0.3s ease, height 0.3s ease;
    clip-path: polygon( 0 100%, 100% 0, 100% 100%);
}

.pic-parent:hover .bottom-triangle {
    width: 10px;
    height: 10px;
}

#year-selector {
    width: 100%;
    display:flex;
    justify-content: center;
    margin-bottom: 25px;
}

#year-selector a {
    background-image: linear-gradient(var(--gold), var(--gold));
    margin: 0 10px;
    font-size: 20px;
    font-weight: 700;
}


.img-title {
    display: flex;
    align-items: center;
}